<%= form_for [@portfolio, @position], remote: true do |f| %>
  <div id = "position-errors">
    <% if @position.errors.any? %>
      <%= render partial: 'positions/position_error_messages' %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :ticker %>
    <%= f.text_field :ticker %>
  </div>

  <div class = "field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>