
    <tr>
      <td><%= portfolio.name %></td>
      <td><%= portfolio.amount %></td>
      <td><%= link_to 'Show', portfolio, remote: true %></td>
      <td><%= link_to 'Edit', edit_portfolio_path(portfolio) %></td>
      <td><%= link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>

