<h2>
  <strong>Name:</strong>
  <%= @portfolio.name %>
</h2>
<div class="container">
  <%= content_tag :canvas, "", id: "positions_chart", width: "500px", height: "500px", data: {positions: @positions } %>
</div>
<div class="container">
  <%= content_tag :canvas, "", id: "valuations_chart", data: {valuations: @valuations } %>

</div>




<h1>Positions</h1>
<div class = 'table'>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<tbody id = "positions">
  <%= render @positions %>
</tbody>
</table>
</div>

<h3>New Position</h3>

<%= render 'positions/form' %>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>





