<!DOCTYPE html>
<html>
  <head>
    <title>Stocktrackr</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js' %>
  </head>

  <body>

    <%= render 'layouts/header' %>
    <div class = "container">
      <%= content_tag :div, alert , class: "flash bg-danger" if alert %>
      <%= content_tag :div, notice , class: "flash bg-success" if notice %>

      <%= yield %>
    </div>
  </body>
</html>
