<!DOCTYPE html>
<html>
  <head>
    <title>Stocktrackr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/header' %>

    <%= content_tag :div, alert , class: "flash bg-danger" if alert %>
    <%= content_tag :div, notice , class: "flash bg-success" if notice %>

    <%= yield %>
  </body>
</html>
